*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Josefin Sans", sans-serif;
  @extend %d-flex;
  @extend %align-center;
  @extend %justify-center;
  min-height: 100vh;
  font-size: 16px;
  background: linear-gradient(135deg, $gradient-1);
  @include respond-to(small){
    align-items: baseline;
    overflow-x: clip;
  }
}

footer{
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.5;
}