.d-none{
  display: none;
}

$placeholder: ('::-webkit-input-placeholder', ':-moz-placeholder', 
'::-moz-placeholder', ':-ms-input-placeholder', '::input-placeholder', 
'::placeholder');
@each $selector in $placeholder {
  #{$selector} {
    color: rgba(206, 151, 151, 0.60);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: rgba(206, 151, 151, 0.40);
    font-size: 14px;
  }
}
@function px-to-rem($rem) {
  $remValue: calc($rem / 16); // base font size: 16px
  @return #{$remValue}rem; 
}

%d-flex{ display: flex; }
%align-center{ align-items: center; }
%justify-center{ justify-content: center; }